*.lock
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.gradle/8.8/checksums/md5-checksums.bin
.gradle/8.8/checksums/sha1-checksums.bin
.gradle/8.8/dependencies-accessors/gc.properties
.gradle/8.8/executionHistory/executionHistory.bin
.gradle/8.8/fileChanges/last-build.bin
.gradle/8.8/fileHashes/fileHashes.bin
.gradle/8.8/fileHashes/resourceHashesCache.bin
.gradle/8.8/gc.properties
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
.gradle/vcs-1/gc.properties
/build
/data
/logs
/.idea
